body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}
.reflection{
    width: 500px;
    height: 333px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(/assets/pexels-jordane-maldaner-3254705.jpg);
    background-size:cover;
    background-position: bottom;
    box-shadow: 0px 50px 70px rgba(0,0,0,.3),
                0px 10px 10px rgba(0,0,0,.1);
}
.reflection::after{
    content: '';
    background-image: inherit;
    background-size:cover;
    background-position: bottom;
    width: inherit;
    height: 40%;
    position: absolute;
    bottom: -41%;
    transform: scale(-1) rotateY(180deg);
    opacity: .3;
}
.reflection::before{
    content: '';
    width: inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(95, 93, 93, 0.1),#000);
    z-index: 1;
}